a[href] {
  color: var(--primary-color);
}

.centered-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.users-main {
  height: max-content;
}

.users-title {
  text-align: center;
  margin-bottom: 1.25rem;
}

.users-title h2 {
  font-size: 2rem;
}

.users-box {
  width: 450px;
  margin: 0 auto;
}

.users-box > * {
  border-bottom: none;
  text-align: center;
}

.users-form {
  padding: 0.25rem 0.5rem;
  width: 80%;
  margin: 0 auto;
}

.users-form .wrapper {
  text-align: left;
  margin-bottom: 0.75rem;
}

.users-form input {
  margin-top: 0.25rem;
  box-shadow: 0px 0px 1.5px #333;
  width: 100%;
  padding: 0.15em 0.5em;
}

.users-form .wrapper > input.is-invalid {
  box-shadow: 0px 0px 5px darkred;
}

.name-inputs {
  display: flex;
  justify-content: space-between;
}

.name-inputs input {
  flex-basis: calc(50% - 0.5rem);
}

.auth-alternatives {
  margin-bottom: 0.5rem;
}

.auth-alternatives button {
  padding: 0.375em 0.75em;
}

.google-button,
.restart-profile-photo {
  background: white;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
}

.google-button {
  margin-top: 0.5rem;
}

.profile-photo-uploader {
  margin: 0.5rem auto;
}

.restart-profile-photo {
  margin-top: 0.25rem;
}
