a[href] {
  color: var(--primary-color);
}

.centered-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.users-main {
  height: max-content;
  padding: 1rem 0;
}

.users-title {
  color: rgb(12, 128, 229);
  font-family: Tahoma;
  text-align: center;
  font-size: 1.25rem;
}

.users-title h2 {
  font-size: 2em;
}

.users-box {
  width: 95%;
  max-width: 450px;
  margin: 0 auto;
}

.users-box > * {
  border-bottom: none;
  text-align: center;
}

.users-form {
  padding: 0.25rem 0.5rem;
  width: 80%;
  margin: 0 auto;
}

.users-form .wrapper {
  text-align: left;
  margin-bottom: 0.75rem;
}

.users-form button[type="submit"] {
  padding: 0.75em;
}

.users-form input {
  border: 1px solid #ccd0d5;
  border-radius: 5px;
  width: 100%;
  padding: 0.75em;
}

input.has-errors {
  border-color: red;
}

.name-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
}

.name-inputs input {
  flex-basis: calc(50% - 0.5rem);
}

.auth-alternatives {
  margin-bottom: 0.5rem;
}

.auth-alternatives button {
  padding: 0.375em 0.75em;
}

.google-button,
.restart-profile-photo {
  background: white;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
}

.google-button {
  margin-top: 0.5rem;
}

.profile-photo-uploader {
  margin: 0.5rem auto;
}

.restart-profile-photo {
  margin-top: 0.25rem;
}

.form-error-message {
  color: red;
  font-size: 0.85em;
  min-height: 1em;
  height: auto;
}

.users-error {
  margin-bottom: 0.25rem;
}

[class^="popover-arrow"] {
  padding: 0.75em !important;
}

.popover-arrow-bottom div:first-child {
  background-color: inherit;
  top: -7.5px !important;
}

.popover-arrow-right div:first-child {
  left: -7.5px !important;
  top: 11.5px !important;
}

.popover-at-bottom.has-errors {
  margin-bottom: 3.25rem;
}
