body {
  --primary-color: rgb(65, 103, 178);
  --border-radius: 2px;
  font: 350 16px/1.5 Helvetica;
  background-color: rgb(235, 235, 235) !important;
}

input,
button {
  border: none;
  outline: none;
  font: inherit;
}

.search {
  padding: 0 266px 0 96px;
  height: 40px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search form {
  box-shadow: 0px 0px 2.5px #333;
  border-radius: var(--border-radius);
  overflow: hidden;
  max-width: 445px;
  font-size: 0.9rem;
  display: flex;
}

.search form > * {
  padding: 0.125em 0.75em;
  flex: 0 1 auto;
}

.search form input {
  width: 400px;
}

.search form button {
  width: 45px;
}

.search nav ul {
  display: flex;
  font-size: 0.9em;
  font-weight: bolder;
  color: white;
}

.search nav ul a {
  padding: 0.25em 1em;
  border-right: 1px solid #555;
}

.search nav ul li:last-of-type a {
  border: none;
}

main {
  width: 500px;
  height: 100vh;
  margin: 0.9rem auto;
}

.gray-bg {
  background-color: rgb(245, 245, 245);
  color: rgb(75, 75, 75);
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: var(--border-radius);
  padding: 0.4rem 0;
  font-size: 0.85em;
}

.btn-primary[disabled] {
  background-color: rgb(156, 180, 216);
  cursor: not-allowed;
}

.full-width {
  width: 100%;
}
/* CARD */
main > * {
  margin-bottom: 0.75rem;
}

.card {
  background: white;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
}

.card > * {
  border-bottom: 1px solid #ccc;
}

.card header h4 {
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
}

.card footer {
  padding: 0.5rem 0.75rem;
  border-bottom: none;
}

.post-content {
  padding: 1rem 0.75rem;
}

.post-content input {
  width: 100%;
}
