html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* GENERAL SELECTORS */
body {
  --primary-color: rgb(65, 103, 178);
  --border-radius: 2px;
  font: 350 16px/1.5 Helvetica;
  background-color: rgb(235, 235, 235) !important;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button,
label[for="media-input"] {
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
}

button,
label[for="media-input"] {
  cursor: pointer;
}

.card {
  background: white;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
}

.test,
.test > * {
  border: 1px solid #aaa;
}
