html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* GENERAL SELECTORS */
body {
  background-color: rgb(40, 40, 40);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.test,
.test > * {
  border: 1px solid #aaa;
}
